.main {
  opacity: 0;
  background-image: linear-gradient(to top left, #39b385, #9be15d);

  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.name {
  font-size: 25px;
  font-weight: bolder;
  color: blue;
}

.form {
  position: relative;
  box-sizing: border-box;
  padding-left: 20rem;
}
.footer {
  margin-top: 30px;

  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.btn-primary {
  padding: 1rem;
  margin-top: 20px;
}

.display1 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.first-pop-up {
  opacity: 1;
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);

  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.ohYes {
  background-color: rgb(23, 25, 146);
  color: azure;
  position: relative;
  float: "";
}

/* Pop-up arear*/
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: progress;
}

.hidden {
  display: none;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  height: 400px;

  background-color: rgb(3, 3, 14);

  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 10;

  left: 50%;
  margin-left: 15rem;
}

.close {
  color: rgb(207, 57, 57);
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
